# Database Configuration
DB_URL=jdbc:postgresql://localhost:5432/libreria_auth_db
DB_USER=postgres
DB_PASS=postgres

# JWT Configuration
JWT_SECRET=una_clave_segura_muy_larga_para_firmar_tokens_deJWT_2024

# Server Port (Gateway)
PORT=8080
